.container {
    display: flex;
    width: 80%;
    height: 80%;
    margin-left: 10%;
    margin-top: 2vw;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    border: 0.3vw solid white;
    border-radius: 1vw;
    background-color: #22223B;
    padding: 1vw;
}

h1 {
    color: white;
}

.imgDetail {
    margin-left: 30%;
    width: 40%;
    height: 15vw;
}

.backButton {
    width: 10%;
    margin-top: 1vw;
    margin-left: 45%;
    border-radius: 1vw;
    border: 0.3vw solid white;
    background-color: #22223B;
    color: white;
    height: 3vw;
    font-size: 1.5vw;
    text-decoration: none;
    margin-bottom: 1vw;
}

.backButton:hover {
    cursor: pointer;
}

.description {
    width: 90%;
    margin-top: 10px;
    margin-left: 5%;
    margin-bottom: 1vw;
    color: white;
    font-size: 1.25vw;
}

.texts {
    margin-bottom: 1vw;
}

.title {
    margin-top: 1vw;
}