.containerVideogameCards {
    display: grid;
    gap: 1vw;
    row-gap: 1vw;
    grid-template-columns: repeat(5, 1fr);

    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 2%;
    margin-bottom: 2%;
    padding-bottom: 2vw;
}

.background {
    height: 100%;
}

.ordenamientosYFiltros {
    display: flex;
    text-align: center;
    justify-content: center;
    flex-direction: row;
    gap: 2vw;
    margin-top: 2vw;
}

.selectSortingOrFilter {
    border-radius: 0.8vw;
    height: 2.5vw;
    width: 15vw;
    display: flex;
    justify-content: center;
    text-align: center;
    background-color: #22223B;
    border: 0.25vw solid white;
    color: white;
}

.selectSortingOrFilter:hover {
    cursor: pointer;
}

.reloadButton {
    border-radius: 0.8vw;
    height: 2.5vw;
    width: 15vw;
    background-color: #22223B;
    border: 0.25vw solid white;
    color: white;
}

.reloadButton:hover {
    cursor: pointer;
}

.ordenamientos {
    display: flex;
    gap: 2vw;
}

.filtros {
    display: flex;
    gap: 2vw;
}

.errorMessage {
    color: white;
    padding: 1.5vw;
}

.errorContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 0.4vw solid white;
    border-radius: 1vw;
    background-color: #22223B;
    width: 25vw;
    margin-left: 125%;
}