@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300;400&display=swap');

.cardDiv {
    display: flex;
    flex-direction: column;

    border: 0.25vw solid white;
    width: 14vw;
    height: 17vw;

    padding: 1.5vw;

    background-color: #22223B;
    border-radius: 1vw;
}

.cardH3 {
    text-decoration: none;
    color: white;
    font-weight: bolder;
}

h4 {
    display: flex;
    justify-content: center;
    text-align: center;
    font-size: 1.4vw;
    font-weight: bolder;
    color: white;
}

h3 {
    display: flex;
    justify-content: center;
    text-align: center;
    font-size: 1.2vw;
    text-decoration: none;
    font-weight: bolder;
}

img {
    display: flex;
    justify-content: center;
    text-align: center;
    margin: 0.7vw;
    border: 0.25vw solid white;
    border-radius: 0.7vw;
    height: 11vw;
}

h5 {
    display: flex;
    justify-content: center;
    text-align: center;
    font-size: 1.2vw;
    font-weight: bolder;
    color: white
}