.formContainer{
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 10%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 80%;
    background-color: #22223B;
    border: 3px solid white;
    border-radius: 10px;
}

.platformLabelsContainer{
    display: flex;
    width: 20%;
    margin: 10px;

}

.select{
    width: 100%;
    border-radius: 10px;
}

.createButton{
    margin: 10px;
    width: 100px;
    background-color: white;
    border-radius: 10px;
}

.labels{
    margin: 8px;
    color: white;

}

.error{
    color: red;
}

.platformsAndGenresSelected{
    display: flex;
    justify-content: center;
    gap: 50px;
    margin: 10px;
    color: white;
}

.deleteGenreOrPlatform{
    display: flex;
    justify-content: center;
    text-align: center;
}

.deleteGenreOrPlatform:hover{
    cursor: pointer;
}

.formInput{
    border-radius: 10px;
    height: 20px;
}