.formContainer{
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 10%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 80%;
    background-color: white;
    border-radius: 10px;
}

.platformLabelsContainer{
    display: flex;
    width: 20%;
    margin: 10px;

}

.select{
    width: 100%;
}

.createButton{
    margin: 10px;
}

.labels{
    margin: 5px;
}

.error{
    color: red;
}

.platformsAndGenresSelected{
    display: flex;
    justify-content: center;
    gap: 50px;
    margin: 10px;
}