.container {
    display: flex;
    background-color: #22223B;
    color: white;
    width: 100%;
    height: 3vw;
    justify-content: space-around;
    text-decoration: none;
    align-items: center;
}

.h1Searchbar {
    text-decoration: none;
}

.h3Searchbar {
    text-decoration: none;
}

.searchBarH3 {
    margin-left: 4vw;
    font-size: 1.5vw;
    color: white;
}

.searchbarForm {
    display: flex;
    justify-content: center;
    text-align: center;
    height: 2.1vw;
}

.searchbarButton {
    height: 2.1vw;
    width: 3vw;
    border-radius: 0.5vw;
}

.searchbarButton:hover {
    cursor: pointer;
}

.inputSearchbar {
    border-radius: 0.5vw;
    width: 10vw
}