.paginadoContainer{
    display: flex;
    justify-content: center;
    gap: 20px;
    list-style: none;
    margin-top: 20px;
}

.paginadoItem{
    border: 2px solid white;
    padding: 5px;
    background-color: #22223B;
    border-radius: 5px;
    font-family: Monaco;
    color: white;
}

li:hover{
    cursor: pointer;
}